@model List<Product>

@{
    Layout = "_Layout";
}

<div class="row container" style="min-height:100vh">
    <div class="col s12">
        <div class="col m12 z-depth-2 white darken-4">
            <div class="input-field">
                @using (Html.BeginForm("Select", "Admin", FormMethod.Get))
                {
                    <table>
                        <thead>
                        <tr>
                            <th>
                                <label>Select data</label>
                                <select name="selected">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="users">Users</option>
                                    <option value="products">Products</option>
                                    <option value="orders">Orders</option>
                                </select>
                            </th>
                            <th>
                                <button class="btn waves-effect waves-light" type="submit" name="action">
                                    Show
                                </button>
                            </th>
                        </tr>
                        </thead>
                    </table>
                }
                @using (Html.BeginForm("AddProduct", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <table>
                        <tr>
                            <th>
                                <label for="nameInput">Product Name</label>
                                <input name="productName" id="nameInput" type="text">
                            </th>
                            <th>
                                <label for="descriptionInput">Product Description</label>
                                <input name="productDescription" id="descriptionInput" type="text">
                            </th>
                            <th>
                                <label for="costInput">Product Cost</label>
                                <input name="productCost" id="costInput" step=".01" min="0.01" max="999999" type="number">
                            </th>
                            <th>
                                <label for="ImageInput">Product Image</label>
                                <input id="ImageInput" type="file" name="productImage">
                            </th>
                            <th>
                                <button class="btn waves-effect waves-light" type="submit" name="action">
                                    Add
                                </button>
                            </th>
                        </tr>
                    </table>
                }
                @using (Html.BeginForm("ShowProducts", "Admin", FormMethod.Get))
                {
                    <table>
                        <tr>
                            <th>
                                <label for="nameInput">Product Name</label>
                                <input name="productName" id="nameInput" type="text">
                            </th>
                            <th>
                                <button class="btn waves-effect waves-light" type="submit" name="action">
                                    Filter
                                </button>
                            </th>
                        </tr>
                    </table>
                }
                <table>
                    <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Product Description</th>
                        <th>Product Cost</th>
                        <th>Product Photo</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model.Any())
                    {
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td>@product.Name</td>
                                <td>@product.Description</td>
                                <td>@product.Cost.ToString()$</td>
                                <td>@Html.Raw("<img style='width:50px; height:50px;' src=\"data:image/jpeg;base64," 
                                              + Convert.ToBase64String(product.Image) + "\" />")</td>
                                @*<td>
                    <a class="waves-effect waves-light btn modal-trigger" href=@("#modal" + order.Id)>Change quantity</a>

                    @using (Html.BeginForm("ChangeQuantity", "Purchase", routeValues: new {id = order.Id.ToString()}, FormMethod.Post))
                    {
                        <div id=@("modal" + order.Id) class="modal">
                            <div class="modal-content">
                                <h4>Change quantity</h4>
                                <input name="quantity" type="number" min="1" max="500" class="validate">
                            </div>
                            <button type="submit" value="Create" class="btn right green waves-effect waves-light">
                                Update
                            </button>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                            </div>
                        </div>
                    }
                </td>*@
                                @*<td>
                    @using (Html.BeginForm("DeleteOrder", "Purchase", routeValues: new {id = order.Id.ToString()}, FormMethod.Post))
                    {
                        <button type="submit" value="Create" class="btn red waves-effect waves-light">
                            Delete
                        </button>
                    }
                </td>*@
                            </tr>
                        }
                    }
                    else
                    {
                        <h3 class="red-text center">Nothing found</h3>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script > M.AutoInit();</script>