@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<script >
M.AutoInit();
</script>
<div class="row">
    <div class="col s12 m2">
        <div class="card">
            <div class="card-image">
                <img class="materialboxed" src="~/lib/Images/shirt1.png" alt="shirt image" style="width: 190px; height: 190px">
            </div>
            <div class="card-content">
                <p>
                    Black Shirt
                </p>
                <p>
                    <b>100$</b>
                </p>
            </div>
            <div class="center card-action">
                <a class="waves-effect waves-light btn-small">Add to cart</a>
            </div>
        </div>
    </div>
    <div class="col s12 m2">
        <div class="card">
            <div class="card-image">
                <img class="materialboxed" src="~/lib/Images/shirt3.png" alt="shirt image" style="width: 190px; height: 190px">
            </div>
            <div class="card-content">
                <p>
                    Black Shirt
                </p>
                <p>
                    <b>100$</b>
                </p>
            </div>
            <div class="center card-action">
                <a class="waves-effect waves-light btn-small">Add to cart</a>
            </div>
        </div>
    </div>
    <div class="col s12 m2">
        <div class="card">
            <div class="card-image">
                <img class="materialboxed" src="~/lib/Images/shirt2.png" alt="shirt image" style="width: 190px; height: 190px">
            </div>
            <div class="card-content">
                <p>
                    White Shirt
                </p>
                <p>
                    <b>500$</b>
                </p>
            </div>
            <div class="center card-action">
                <a class="waves-effect waves-light btn-small">Add to cart</a>
            </div>
        </div>
    </div>
    <div class="col s12 m2">
        <div class="card">
            <div class="card-image">
                <img class="materialboxed" src="~/lib/Images/shirt4.png" alt="shirt image" style="width: 190px; height: 190px">
            </div>
            <div class="card-content">
                <p>
                    Grey shirt
                </p>
                <p>
                    <b>500$</b>
                </p>
            </div>
            <div class="center card-action">
                <a class="waves-effect waves-light btn-small">Add to cart</a>
            </div>
        </div>
    </div>
    <script >M.AutoInit();</script>
</div>