@model ChangeUserPasswordViewModel

@{
    Layout = "_Layout";
}

<table>
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
        <div asp-validation-summary="All"></div>
        <tr>
            <th>
                <label for="yourNewPassword">Your new password</label>
                <input asp-for="Password" type="password" id="yourNewPassword">
            </th>
        </tr>
        <tr>
            <th>
                <label for="yourNewPasswordRepeat">Repeat your new password</label>
                <input asp-for="ConfirmPassword" type="password" id="yourNewPasswordRepeat">
            </th>
        </tr>

        <tr>
            <th>
                <button class="btn waves-effect waves-light right red" type="submit" name="action">
                    Change Password
                </button>
            </th>
        </tr>
    }
</table>