@model ChangeUserDataViewModel

@{
    Layout = "_Layout";
}

<table>
    @using (Html.BeginForm("Info", "Account", FormMethod.Post))
    {
        <div asp-validation-summary="ModelOnly"></div>
        <tr>
            <th>
                <label asp-for="Phone"></label>
                <input asp-for="Phone" type="text" id="yourPhone" value="@Model.Phone">
                <span asp-validation-for="Phone"></span>
            </th>
        </tr>
        <tr>
            <th>
                <label asp-for="Name"></label>
                <input asp-for="Name" type="text" id="yourName" value="@Model.Name">
                <span asp-validation-for="Name"></span>
            </th>
        </tr>
        <tr>
            <th>
                <label asp-for="Email"></label>
                <input asp-for="Email" id="yourEmail" type="text" value="@Model.Email">
                <span asp-validation-for="Email"></span>
            </th>
        </tr>
        <tr>
            <th>
                <button class="btn waves-effect waves-light right" type="submit" name="action">
                    Save Changes
                </button>
            </th>
        </tr>
    }
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Get))
    {
        <tr>
            <th>
                <button class="btn waves-effect waves-light left red" type="submit" name="action">
                    Change Password
                </button>
            </th>
        </tr>
    }
    <tr>
        <th>
            <form method="post" asp-controller="Account" asp-action="Logout">
                <button class="btn waves-effect waves-light left orange" type="submit" name="action">
                    LogOut
                </button>
            </form>
        </th>
    </tr>
</table>